/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.gcontainer {
  display: block;
  max-height: 400px;
  overflow-y: scroll;
}

.band-separator {
  display: block;
  background-color: @nav-bg;
  padding: 10px;
  color: white;
}

.band-separator > button {
  color: red;
}